{
  "extends": [
    "react-app",
    "react-app/jest",
    "airbnb",
    "airbnb-typescript"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "@typescript-eslint/semi": [
      "error",
      "never"
    ],
    "max-len": [1, 200],
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": [
          "**/*.test.js",
          "**/*.test.jsx",
          "**/*.test.ts",
          "**/*.test.tsx",
          "**/setupTests.js",
          "**/*.stories.tsx",
          "**/*.stories.ts",
          "src/stories/**"
        ]
      }
    ],
    "react/jsx-uses-react": "off",
    "react/react-in-jsx-scope": "off",
    "import/prefer-default-export": "off",
    "react/jsx-filename-extension": "warn",
    "react/prop-types": "warn",
    "react/require-default-props": [2, { "forbidDefaultForRequired": true, "ignoreFunctionalComponents": true }]
  },
  "overrides": [
    {
      "files": [
        "**/*.stories.*"
      ],
      "rules": {
        "import/no-anonymous-default-export": "off"
      }
    }
  ],
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"]
      }
    }
  }
}